
@font-face {
  font-family: "Palanquin", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Palanquin&display=swap");
  font-weight: normal;
}

// $primary: hsl(171, 100%, 41%) //bulma turquoise
$primary: rgb(117, 41, 0);
$info: rgb(255, 206, 180);
$link: #ffaa7c;

$family-sans-serif: "Palanquin", sans-serif;

@import "~react-bulma-components/src/index.sass";
@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/components/navbar.sass";
@import "../../node_modules/bulma/sass/grid/_all.sass";
@import "../../node_modules/bulma/sass/elements/button.sass";
@import "../../node_modules/bulma/sass/elements/container.sass";
@import "../../node_modules/bulma/sass/elements/form.sass";
@import "../../node_modules/bulma/sass/elements/title.sass";
@import "../../node_modules/bulma/sass/layout/hero.sass";
@import "../../node_modules/bulma/sass/layout/section.sass";
// html {
//   font-size: 16px;
// }
// change above value to scale eeeeverything.
