@import "base/variables";
@import "~react-bulma-components/src/index.sass";
@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/components/navbar.sass";
@import "../../node_modules/bulma/sass/grid/_all.sass";
@import "../../node_modules/bulma/sass/elements/button.sass";
@import "../../node_modules/bulma/sass/elements/container.sass";
@import "../../node_modules/bulma/sass/elements/form.sass";
@import "../../node_modules/bulma/sass/elements/title.sass";
@import "../../node_modules/bulma/sass/layout/hero.sass";
@import "../../node_modules/bulma/sass/layout/section.sass";

html {
  font-size: 16px;
  // change above value to scale eeeeverything.
  // background: linear-gradient(
  //   0deg,
  //   rgba($deepbrown, 1) 0%,
  //   rgba(black, 1) 33%,
  //   rgba(black, 1) 67%,
  //   rgba($deepbrown, 1) 100%
  // );
  background-color: $deeperbrown;
}

.recipetag {
  display: inline-block;
  font-size: 10px;
  color: $deepbrown;
  margin: 1px;
  padding: 0px 5px;
  background-color: rgba(black, 0.1);
  border-radius: 3px;
}

.navbar-item,
.navbar-brand {
  @include mobile {
    font-size: 1.33rem;
  }
}

.roastme {
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 2px 2px rgba(black, 0.5);
}

.add-new-button {
  background-color: $success;
  color: white;
  & > * {
    color: white;
  }
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  position: absolute;
  max-width: 4rem;
  max-height: 4rem;
  border-radius: 50%;
  right: 0;
  margin: 1rem;
  @include mobile {
    margin-top: 3.8rem;
  }
  z-index: 20;
  box-shadow: 0.5rem 0.5rem 0.33rem -0.33rem rgba(black, 0.33);
  border: none;
}
.text-columns {
  column-count: 2;
  @include mobile {
    column-count: 1;
  }
}
.md {
  & > h1,
  & > h2,
  & > h3,
  & > h4,
  & > h5 {
    margin-bottom: 0.75em;
    font-weight: 900;
  }
  & > h1 {
    font-size: 2em;
    column-span: all;
  }
  & > h2 {
    font-size: 1.5em;
    column-span: all;
  }
  & > h3 {
    font-size: 1.25em;
  }
  & > h4 {
    font-size: 1.125em;
  }
  & > h5 {
    font-size: 1.07em;
  }
  & > ul,
  & > ol {
    margin-bottom: 0.75em;
    list-style: inside disc;
    margin-left: 1em;
  }
  & > ol {
    list-style-type: decimal;
  }
  & > pre {
    width: calc(100vw - 6em);
    overflow: scroll;
  }
  margin-bottom: 1em;
}

.login-column {
  background-image: unset;
  background-color: rgba($dark, 0.5);
  border-radius: 1rem;
  padding: 1rem;
}
.center-children {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  color: $light;
}

.fill-parent-link {
  width: 100%;
  height: 100%;
  position: absolute;
  background: unset;
  z-index: 10;
}

// .main-component {
//   margin-left: -2rem;
//   margin-right: -2rem;
// }

.is-parent {
  margin-bottom: -0.5rem;
}

.box {
  box-shadow: inset 0px 0px 8rem -2rem burlywood;
}

.input-text {
  border: solid 1px rgba($deepbrown, 0.5);
  box-shadow: inset 0.33rem 0.33rem 0.5rem -0.33rem rgba($deeperbrown, 0.25);
}

.flex {
  display: flex;
  flex-wrap: wrap;
}
.inline {
  display: inline-flex;
  flex-wrap: wrap;
  & > * {
    margin-right: 0.5rem;
    margin-bottom: 0rem;
  }
}
.flex-all {
  @extend .flex;
  & > * {
    @extend .flex;
  }
}
.justify-baseline {
  align-items: baseline;
}
.section {
  margin: 0;
  padding: 0;
}

.flex-tile {
  flex: 1 0 20rem;
  margin: 0.5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#blog {
  width: 100%;
  height: 100%;
}
.tabs:not(:last-child) {
  margin-bottom: 0;
}

.navbar-burger {
  & > span {
    aria-hidden: true;
  }
}

.pos-absolute {
  position: absolute;
}
.dropdown-nav {
  background-color: $white;
  width: 100%;
  z-index: 90;
  box-shadow: inset 0rem 0.33rem 0.5rem -0.33rem rgba($deeperbrown, 0.75);
  padding-bottom: 0;
}

.deepbrown {
  background-color: $deepbrown;
}
.font-1rem {
  font-size: 1rem !important;
  & > * {
    font-size: 1rem !important;
  }
}
.font-075rem {
  font-size: 0.75rem !important;
  & > * {
    font-size: 0.75rem !important;
  }
}
.font-05rem {
  font-size: 0.5rem !important;
  & > * {
    font-size: 0.5rem !important;
  }
}
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 10rem;
}
.is-dark {
  color: $light;
}

.is-dropdown-item {
  border-bottom: solid 1px rgba($deeperbrown, 0.5);
}

.message {
  z-index: 80;
}

.clickmeaway {
  width: 100%;
  height: 100vh;
  // position: absolute;
  // background-color: rgba($deeperbrown, 0.5);
  background: linear-gradient(
    180deg,
    rgba($deeperbrown, 0.75) 0%,
    rgba($deeperbrown, 0.5) 1%,
    rgba($deeperbrown, 0) 100%
  );
  z-index: 99;
}

.scrollcatcher {
  width: 100%;
  height: 10rem;
}

.image-crop-cover {
  object-fit: cover;
  & > img {
    object-fit: cover;
  }
}
.recipe-card {
  width: 100%;
  max-width: 32rem;
}
.main-component {
  min-height: 100%;
}

.rem14 {
  font-size: 14px;
}
.rem12 {
  font-size: 12px;
}
.rem10 {
  font-size: 10px;
}

.recipe-form {
  @include mobile {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    display: flex;
    flex-flow: column nowrap;
    flex: 0 1 auto;
    & > * {
      flex: 0 1 100%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-around;
      margin-top: 0 !important;
      margin-bottom: 0 !important;
      & > * {
        flex: 0 1 100%;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
      }
    }
  }
}
